body{
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: franklin gothic medium;
    line-height: 1.8;
    min-height: 80vh;
    flex-direction: column;
    margin: 0;
    margin-top: 5%;

}
body{
    background: url(beautiful-nature-wallpaper-hd-wallpaper-ai-generated-free-photo.jpg)no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.main{
    background-color: transparent;
    border: 2px solid rgba(206, 133, 133);
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(217, 113, 113, 0.996);
    padding: 10px 10px;
    transition: transform 0.2s;
    width: 420px;
    text-align: center;
}
h1{
    color: rgb(56, 1, 15);
}
label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #553;
    font-weight: bold;
}
input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #a32020;
    border-radius: 30px;
}
button{
    font-size: 16px;
    width: 55%;
    margin-top: 3% ;
    color: rgb(213, 213, 213);
    font-size: 15px;
    opacity: .5;
    background: rgb(0, 0, 0);
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(225,225,225,0.06);
    box-shadow: 3px 3px 5px rgba(31,38,135,.37);
    border-left: 1px solid rgba(225,225,225,0.3);
    border-top: 1px solid rgba(225,225,225,0.3);
}
button:hover{
    text-decoration: underline;
    color: white;
    opacity: 0.8;
    background: rgb(17, 224, 17);
}

.check a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.check a:hover{
    text-decoration: underline;
}
a{
    font-size: 15px;
    text-align: center;
    opacity: 1.5;
    text-decoration: none;
    color: blue;
}
a:hover{
    text-decoration: underline;
    transition: 1s;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -14.5%;
    width: 130%;
}
.wrap button:hover{
    text-decoration: underline;
    text-shadow: #86f605;
    color: #f3f3f4;
    background: rgb(17, 226, 17);
}
