body{
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: franklin gothic medium;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background: url(beautiful-nature-wallpaper-hd-wallpaper-ai-generated-free-photo.jpg)no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
form{
    height: 34.5rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgb(232, 145, 145);
    border-radius: 20px;
    border-left: 1px solid rgba(225,225,225,0.3);
    border-top: 1px solid rgba(225,225,225,0.3);
}

.reg{
    background-color: #fff;
    text-align: center;
}
h1{
    font-size: 40px;
    color: rgb(245, 90, 175);
    margin-left: 0%;

}
label{
    display: block;
    width: 150%;
    margin-left: 10%;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    text-align: left;
    color: rgb(14, 14, 14);
    opacity: 0.8;
    font-weight: bold;
}
input{
    
    width: 80%;
    margin: 5% auto;
    margin-bottom: 5%;
    border: none;
    outline: none;
    background: transparent;
    color: blue;
    border-bottom: 1px solid rgb(93, 16, 16);
    opacity: .8;
}
.placeholder{
    color: black;
}
select{
    width: 20%;
    margin-bottom: 15px;
    margin-left: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #d69f9f;
    border-radius: 10px;
}
button{
   width: 50%;
   margin-left: 40px;
   margin-top: 5% ;
   color: white;
   font-size: 15px;
   opacity: .7;
   background: rgba(225, 225, 225, 0.412);
   padding: 10px 30px;
   border: none;
   outline: none;
   border-radius: 20px;
   text-shadow: 2px 2px 4px rgba(225,225,225,0.06);
   box-shadow: 3px 3px 5px rgba(31,38,135,.37);
   border-left: 1px solid rgba(225,225,225,0.3);
   border-top: 1px solid rgba(225,225,225,0.3);
}
button:hover{
    text-decoration: underline;
    background: green;
    opacity: .8;
}
